#top {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	align: "center";
}

#top td{
	border: 1px solid #ddd;
	padding: 8px;
}

#top td:hover {
	background-color: #ddd;
}

#top td {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #1E90FF;
	color: white;
}
#top a:link {
  color: white;
  text-decoration: none;
 }
#top a:visited {
  color: white;
  text-decoration: none;
  }